#block-banner-warning {
    background-color: yellow;
    width: 100%;
    height: 2em;
    text-align: center;
    font-weight: bold;
}

header {
    z-index: 100;
    position: relative;
}

#block-dialog {
	top:30%;  
  left:30%;  
}
